footer {
    background-color: lightblue;
    font-family: Arial;
    color: darkblue;
    padding: 10px;
    border: thin dashed darkblue;
}

#notice {
    width: 80%;
    margin: auto;
}

.headline {
    color: purple;
    border-bottom: dotted purple;
}

h1 {
    text-shadow: 2px 2px 4px gray;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-size: 4em;
}

#section {
    font-size: small;
    color: red;
    font-family: Arial;
    background-color: white;
    width: 80%;
    box-shadow: 2px 2px 4px gray;
}